@model BookingApplication.Models.CustomerBusinessDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerBusinessDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SRIET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SRIET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
