@model BookingApplication.Models.GiftVoucher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GiftVoucher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedmeeOnline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedmeeOnline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expire.Every)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expire.Every)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
